.root {

    -fx-background-color: linear-gradient(#86C1B9, #E8E8E8);     /* fades from one color to another. */
    -fx-font-size: 11pt;
    -fx-text-fill: #F8F8F8;

}
.label {

    -fx-text-fill: #181818;

}
.button {

    -fx-background-color: #7cafc2;
    -fx-text-fill: #F8F8F8;
    -fx-background-radius: 4;

}
.text-area .content {

    -fx-background-color: linear-gradient(#86C1B9, #E8E8E8);
    -fx-text-fill: #F8F8F8;

}
.check-box {

    -fx-text-fill: #181818;

}
.menu-bar {
    -fx-background-color: #86C1B9;
}
.menu-button .label {
 -fx-text-fill: black;
}

/*ID's*/
#bold-label {

    -fx-font-weight: bold;

}